.t-ic{
  text-align:center;
}

.conf{
text-align: center;
border-width: 2px;
border-style: dotted;
color:  black;
margin: 20px;
}

.conf img{
  width:  140px;
  object-fit: cover;
  height:140px;
}

@media screen and (min-width: 200px) and (max-width: 400px){
.echo img{
  width: 150px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 401px) and (max-width: 500px){
.echo img{
  width: 300px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 501px) and (max-width: 600px){
.echo img{
  width: 400px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 601px) and (max-width: 700px){
.echo img{
  width: 500px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 701px) and (max-width: 800px){
.echo img{
  width: 600px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 801px) and (max-width: 900px){
.echo img{
  width: 700px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 901px) and (max-width: 1000px){
.echo img{
  width: 800px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 1001px) and (max-width: 1100px){
.echo img{
  width: 800px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 1101px) and (max-width: 1200px){
.echo img{
  width: 900px;
  margin-bottom: 20px;
}}

@media screen and (min-width: 1201px){
.echo img{
  width: 900px;
  margin-bottom: 20px;
}}


.connect_btn img{
  width: 30px;
  margin:15px;
  height:auto;
}

.test{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}


@media screen and (min-width: 200px) and (max-width: 600px){
.flex-rsp {
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}}

@media screen and (min-width: 601px){
.flex-rsp {
  display:none;
}}

@media screen and (min-width: 200px) and (max-width: 600px){
.flex-dr {
  display:none;
}}

@media screen and (min-width: 601px){
.flex-dr {
  display: flex;
  justify-content:space-between;
  align-items: center;
}}

.title-d{
  font-size: 12px;
  text-align:center;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  width: 140px;
}

.title-e {
  font-size: 12px;
  text-align:center;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color:black;
  width: 140px;
}

.title-b {
  font-size: 12px;
  text-align:center;
  border-width:2px;
  border-style:dotted;
  color: white;
  border-color:white;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin: 10px;
}

@media screen and (min-width: 201px) and (max-width: 400px) {
  .gif-t{
  height:150px !important;
  width:auto !important;
  text-align: center !important;
}
}

@media screen and (min-width: 401px){
  .gif-t{
  height:175px !important;
  width:auto !important;
  margin-bottom:20px;
  margin-top:20px;
  text-align: center !important;
}
}

@media screen and (min-width: 200px) and (max-width: 950px){
#exp{
    display: none;
}
}

@media screen and (min-width: 200px) and (max-width: 950px){
#deux{
    display: none;
}
}

.gif-t img{
text-align: center !important;
}

.img-top{
width: 800px;
}

.title-d a{
  color:red;
}

.title-d a:hover{
  color:red;
  font-weight: bold;
  text-decoration: none;
}

.title-show{
  font-size: 20px;
  color:black;
  text-decoration-line: overline;
  text-transform: uppercase;
  font-weight:bold;
  text-align: left;
  margin-left: 50px;
  margin-top: 40px;
}

.btn a{
  font-size: 12px;
  color:black;
}

.btn a:hover{
  font-weight:bold;
  text-decoration:none;
  color:red;
}

.icon img{
  margin: 20px;
  height: 40px;
  text-align:center;
}
.connect_btn {
  text-align: right;
}

.up-btn{
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.top-btn{
  text-align: center;
  margin-bottom: 50px;
}

.top-btn img a{
  display: flex;
  justify-items: space-between;
  align-items: center;
}

@media screen and (max-width: 200px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 201px) and (max-width: 300px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 301px) and (max-width: 400px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1101px) and (max-width: 1200px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1201px) and (max-width: 1300px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1301px) and (max-width: 1400px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1501px) and (max-width: 1600px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1601px) and (max-width: 1700px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1701px) and (max-width: 1800px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1801px) and (max-width: 1900px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1901px) and (max-width: 2000px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 2001px) and (max-width: 2100px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 2101px){
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}


@media screen and (min-width: 501px) and (max-width: 600px) {
.img-show img{
  width:150px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 601px) and (max-width: 700px) {
.img-show img{
  width:200px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 701px) and (max-width: 800px) {
.img-show img{
  width:250px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 801px) and (max-width: 900px) {
.img-show img{
  width:300px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
 .img-show img{
  width:350px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
.img-show img{
  width:400px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1101px) and (max-width: 1200px) {
.img-show img{
  width:450px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1201px) and (max-width: 1300px) {
 .img-show img{
  width:500px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1301px) and (max-width: 1400px) {
 .img-show img{
  width:550px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
  .img-show img{
  width:600px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1501px) and (max-width: 1600px) {
 .img-show img{
  width:650px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1601px) and (max-width: 1700px) {
 .img-show img{
  width:700px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1701px) and (max-width: 1800px) {
  .img-show img{
  width:750px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1801px) and (max-width: 1900px) {
  .img-show img{
  width:800px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1901px) and (max-width: 2000px) {
  .img-show img{
  width:850px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 2001px) and (max-width: 2100px) {
  .img-show img{
  width:900px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 2101px){
  .img-show img{
  width:950px !important;
  height:auto !important;
  margin:50px;
}
}


@media screen and (min-width: 501px) and (max-width: 600px) {
.img-show img:hover{
  width:250px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 601px) and (max-width: 700px) {
.img-show img:hover{
  width:300px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 701px) and (max-width: 800px) {
.img-show img:hover{
  width:350px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 801px) and (max-width: 900px) {
.img-show img:hover{
  width:400px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
 .img-show img:hover{
  width:450px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
.img-show img:hover{
  width:500px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1101px) and (max-width: 1200px) {
.img-show img:hover{
  width:550px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1201px) and (max-width: 1300px) {
 .img-show img:hover{
  width:600px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1301px) and (max-width: 1400px) {
 .img-show img:hover{
  width:650px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
  .img-show img:hover{
  width:700px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1501px) and (max-width: 1600px) {
 .img-show img:hover{
  width:750px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1601px) and (max-width: 1700px) {
 .img-show img:hover{
  width:800px !important;
  height:auto !important;
  margin:50px;
}
}

  @media screen and (min-width: 1701px) and (max-width: 1800px) {
  .img-show img:hover{
  width:850px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1801px) and (max-width: 1900px) {
  .img-show img:hover{
  width:900px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 1901px) and (max-width: 2000px) {
  .img-show img:hover{
  width:950px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 2001px) and (max-width: 2100px) {
  .img-show img:hover{
  width:1000px !important;
  height:auto !important;
  margin:50px;
}
  }


  @media screen and (min-width: 2101px){
  .img-show img:hover{
  width:1000px !important;
  height:auto !important;
  margin:50px;
}
}

@media screen and (min-width: 201px) and (max-width: 300px) {
.img-show-rsp  img{
  width:200px;
  height:auto !important;
  margin:30px;
}
}

@media screen and (min-width: 301px) and (max-width: 400px) {
.img-show-rsp  img{
  width:250px;
  height:auto !important;
  margin:30px;
}
}

@media screen and (min-width: 401px) and (max-width: 500px) {
.img-show-rsp  img{
  width:300px;
  height:auto !important;
  margin:30px;
}
}

@media screen and (min-width: 201px) and (max-width: 300px) {
.img-show-rsp  img:hover{
  width:250px;
  height:auto !important;
  margin:30px;
}
}

@media screen and (min-width: 301px) and (max-width: 400px) {
.img-show-rsp  img:hover{
  width:300px;
  height:auto !important;
  margin:30px;
}
}

@media screen and (min-width: 401px) and (max-width: 500px) {
.img-show-rsp  img{
  width:350px;
  height:auto !important;
  margin:30px;
}
}

