.connect_btn img{
  width: 30px;
  margin:15px;
  height:auto;
}

.title-d{
  font-size: 12px;
  text-align:center;
  border-width:2px;
  border-style:dotted;
  border-color:black;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin: 10px;
  width: 140px;
}

.title-e {
  font-size: 12px;
  text-align:center;
  border-width:2px;
  border-style:dotted;
  border-color:black;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin: 10px;
  color:black;
  width: 140px;
}

.title-b {
  font-size: 12px;
  text-align:center;
  border-width:2px;
  border-style:dotted;
  color: white;
  border-color:white;
  padding: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  margin: 10px;
}

@media screen and (min-width: 201px) and (max-width: 400px) {
  .gif-t{
  height:40px !important;
  width:auto !important;
  text-align: center !important;
}
}

@media screen and (min-width: 401px){
  .gif-t{
  height:50px !important;
  width:auto !important;
  text-align: center !important;
}
}


.gif-t img{
text-align: center !important;
}

.title-d a{
  color:red;
}

.btn a{
  font-size: 12px;
  color:black;
}

.connect_btn {
  text-align: right;
}

.up-btn{
  display: flex;
  align-items: center;
  justify-items: space-between;
}

.top-btn{
  text-align: center;
  margin-bottom: 50px;
}

.top-btn img a{
  display: flex;
  justify-items: space-between;
  align-items: center;
}

@media screen and (max-width: 200px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 201px) and (max-width: 300px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 301px) and (max-width: 400px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 501px) and (max-width: 600px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 601px) and (max-width: 700px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 701px) and (max-width: 800px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 801px) and (max-width: 900px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 901px) and (max-width: 1000px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1101px) and (max-width: 1200px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1201px) and (max-width: 1300px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1301px) and (max-width: 1400px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1401px) and (max-width: 1500px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1501px) and (max-width: 1600px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1601px) and (max-width: 1700px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1701px) and (max-width: 1800px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1801px) and (max-width: 1900px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 1901px) and (max-width: 2000px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 2001px) and (max-width: 2100px) {
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}

  @media screen and (min-width: 2101px){
  .display-grid-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    color:red;
  }
}




